<div class="container mt-5 rounded bg-dark">
  <ul class="list-unstyled">
    <li *ngFor="let user of usersList; index as ind">
      <div *ngIf="user.readMode"  class="read">
        <a href="{{'#i' + ind}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" class="text-center text-light">
          <div class="userInfo text-center row">
            <span class="col-lg-4 col-12 m-0"><fa class="ml-4" name="user"></fa> {{user.name | firstUpper}} {{user.surname | firstUpper}}</span>
            <span class="col-lg-4 col-12 m-0"><fa class="ml-4" name="university"></fa> {{user.town | firstUpper}}</span>
            <span class="col-lg-4 col-12 m-0"><fa class="ml-4" name="globe"></fa> {{user.country | firstUpper}}</span>
          </div>
        </a>
        <div class="shadow rounded">
          <div class="userInfo collapse bg-light rounded" id="{{'i' + ind}}">
            <div class="row rounded text-center p-2 ">
                <span class="col-lg-4 col-12 m-0"><fa class="ml-4" name="thermometer-half"></fa> {{round(user.weather.main.temp)}}°C</span>
                <span class="col-lg-4 col-12 m-0"><fa class="ml-4" name="tint"></fa> {{round(user.weather.main.humidity)}}%</span>
                <span class="col-lg-4 col-12 m-0"><fa class="ml-4" name="transgender"></fa> {{user.sex}}</span>
            </div>
            <div class="col-12 text-center rounded p-2 ">
              <button class="col-md-3 col-12 btn btn-dark mx-3 dataButtons" (click)="changeMode(user)" >Zmień dane</button>
              <button class="col-md-3 col-12 btn btn-dark mx-3 dataButtons" (click)="deleteUser(user)" >Usuń użytkownika</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!user.readMode"  class="edit">
          <app-add-user [user]="user"></app-add-user>
          <div class="col-12 text-center pb-3">
            <button class=" btn btn-light col-sm-6 col-12 col-lg-3 mx-auto m-0" (click)="changeMode(user)">exit</button>
          </div>
      </div>
    </li>
  </ul>
</div>
